project:
  type: website
  output-dir: docs

website:
  title: "FylloClip tutorial"
  navbar:
    left:
      - text: images/logo_laimburg.png
        href: https://www.laimburg.it
      - text: "Home"
        href: index.qmd
    tools:
      - icon: github
        href: https://github.com/

  sidebar:
    style: "docked"
    search: true
    contents:
      - section: " "
        contents:
          - legal_note.qmd
      - section: "***HARDWARE***"
        contents:
          - PCBs.qmd
          - list_of_components.qmd
          - burning_bootloader.qmd
      - section: "***ASSEMBLY***"
        contents:
          - assembly_instructions.qmd
      - section: "***SOFTWARE***"
        contents:
          - code_for_Arduino.qmd
          - device_registration.qmd
          - cloud.qmd
      - section: "***DEPLOYING THE DEVICE***"
        contents:
          - testing_the_device.qmd
          - attaching_the_sensor.qmd
          - data_interpretation.qmd
      - outlook.qmd

format:
  html:
    theme: flatly
    linkcolor: "blue"
    css: styles.css
    toc: true

editor: visual